* text=auto !eol
/Makefile -text
/apertium-cs-sl.cs-sl.dix -text
/apertium-cs-sl.cs-sl.t1x -text
/apertium-cs-sl.cs.dix -text
/apertium-cs-sl.sl.dix -text
/cs-sl.prob -text
dev/bidix/README -text
dev/bidix/adj.lex -text
dev/bidix/adj.proc -text
dev/bidix/adv.lex -text
dev/bidix/n.lex -text
dev/bidix/n.proc -text
dev/bidix/np.lex -text
dev/bidix/pr.lex -text
dev/bidix/vblex.lex -text
/modes.xml -text
/pending-tests.sh -text
